@page "/"
@inject BlazorQueryDOM DOM

<h1>Hello, DOM!</h1>
<h1>Hello, Blazor!</h1>

<button @onclick="@(async () => await Trigger())">Trigger</button>

@functions {

    async Task Trigger()
    {
        int width = await DOM.Select("h1").AddClass("this-class-has-blue-bg").CSS("color", "rebeccapurple").Text("Both of these are now this").Width();
        await DOM.ConsoleLog($"Width: {width}");

        await DOM.Select("h1").Width(100);

        int newWidth = await DOM.Select("h1").Width();
        await DOM.ConsoleLog($"Width: {newWidth}");

        string text = await DOM.Select("h1").Text();
        await DOM.ConsoleLog($"Text: {text}");

    }

}